<div class="numbers">
  <canvas #canvasNumber [height]="sideLength" [width]="sideLength"></canvas>
  <div class="info-container"
       (mouseenter)="showInfoIcon = true"
       (mouseleave)="showInfoIcon = false">
    <img src="../../images/i.png"
         (click)="showInfoId = !showInfoId"
         [style.visibility]="showInfoIcon ? 'visible' :'hidden'">
    <span *ngIf="showInfoId"
          [style.margin-left]="showInfoIcon?'0':'-20px'">
      ID:{{curWorkInfo.worker_id}}
    </span>
  </div>
</div>
